* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
body{
    background-color: rgba(15, 17, 30, 1);
}
nav {
    text-align: right;
    padding: 8px;
    margin-bottom: 32px;
    margin-top: 24px;
    margin-right: 48px;
}

a { 
    color: #F0F0F0;
    margin: 16px;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    
}

a:hover{
    text-decoration: underline;
}
#landing {
    text-align: center;
    padding: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgb(48, 53, 71);
}

#name {
    font-size: 500%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #F0F0F0;
}

h2 {
    color: #F0F0F0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
h3 {
    color: #F0F0F0;
    margin-top: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
input {
    margin-top: 16px;
    height: 30px;
    width: 900px;
    border-radius: 5px;
}

form {
    display: inline-block;
}
#search-button {
    height: 20px;
    width: 30px;
    border-radius: 20px;
}
#featured {
    text-align: center;
    color: #F0F0F0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
#movies {
    margin: 80px;
    text-align: center;
}
.card {
    padding: 20px;
    display: inline-block;
}

.card-img {
    height: 300px;
    width: 300px;
    border-radius: 20px;
    box-shadow: 1px 1px 20px rgb(0, 0, 0);
    transition: transform 0.3s ease;
}

.card-img:hover {
    border-radius: 20px;
    box-shadow: 1px 1px 20px rgb(0, 0, 0);
    transform: scale(1.1); 
}

footer {
    background-color: rgb(48, 53, 71);
    text-align: center;
    padding: 8px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}